
.bullet{
	background-color : #d2e0fa;
	font : 20px Roboto;
}

.bullet:hover{
	background-color : #d4e4f6;
}

.blitz{
	background-color : #c9fbf0;
	font : 20px Roboto;
}

.blitz:hover{
	background-color : #cfffed;
}

.rapid{
	background-color : #fbf9d3;
	font : 20px Roboto;
}

.rapid:hover{
	background-color : #f6f6d9;
}

.custom{
	background-color : #fcc6bf;
	font : 20px Roboto;
}

.custom:hover{
	background-color : #fccbc2;
}

.leave{
	background-image : url("image/button(5).png");
	background-size : contain;
	background-repeat : no-repeat;
	font : 20px Roboto;
}

.leave:hover{
	background-image : url("image/button(.png");
	background-size : contain;
}

.play{
	background-color : #77dd77;
}

.play:hover{
	background-color : #98fe98;
}

.timer1{
	background-image : url("image/noir_roi.png");
	background-size : cover;
	font : 40px Roboto;
}

.timer1_blanc{
	background-image : url("image/blanc_roi.png");
	background-size : cover;
	font : 40px Roboto;
}

.timer2{
	background-image : url("image/noir_reine.png");
	background-size : contain;
	background-repeat : no-repeat;
	font : 40px Roboto;
}
