
.bullet{
	background-color : #d2e0fa;
	font : 20px Roboto;
}

.bullet:hover{
	background-color : #d4e4f6;
}

.blitz{
	background-color : #c9fbf0;
	font : 20px radioland;
}

.blitz:hover{
	background-color : #cfffed;
}

.rapid{
	background-color : #fbf9d3;
	font : 20px radioland;
}

.rapid:hover{
	background-color : #f6f6d9;
}

.custom{
	background-color : #fcc6bf;
	font : 20px radioland;
}

.custom:hover{
	background-color : #fccbc2;
}

.leave{
	background-image : linear-gradient(to top, #ffffff, #cccccc);
	background-color : #000000;
	font : 20px radioland;
	border-color: #000000;
}

.leave:hover{
	background-image : linear-gradient(to top, #ffffff, #ffffff);
}

.play{
	background-image : url("bouton/noir_play.png");
	font : 20px radioland;
	color : #ffffff;
	border-color: #000000;
}

.play:hover{
	background-image : linear-gradient(to bottom left, #000000, #000000);
	color : #000000;
}

.pause{
	background-image : url("bouton/noir_pause.png");
	font : 20px radioland;
}

.reset{
	background-image : linear-gradient(to top, #ffffff, #cccccc);
	font : 20px radioland;
	color : #ffffff;
	border-color: #000000;
}

.reset:hover{
	background-image : linear-gradient(to bottom left, white, white);
	color : #000000;
}

.mod{
	background-image : url("bouton/noir_mod.png");
	border-color: #000000;
}

.mod:hover{
	background-image : linear-gradient(to bottom left, #000000, #000000);
}

.timer_n{
	background-color : #000000;
	font : 120px radioland;
	color : #ffffff;
	border-color: #000000;
}

.timer_b{
	background-color : #ffffff;
	font : 120px radioland;
	color : #000000;
	border-color: #ffffff;
}

.mid_button{
	background-color : #282928;
	border-color: #000000;
}
