
.leave{
	background-image : url("bouton/eteint.png");
	background-color : #ffffff;
	border-color: #000000;
}

.leave:hover{
	background-image : url("bouton/eteint.png");
	background-color : #dddddd;
	color : #000000;
}

.play{
	background-image : url("bouton/play.png");
	background-color : #282928;
	border-color: #000000;
}

.play:hover{
	background-image : url("bouton/play.png");
	background-color : #111111;
}

.pause{
	background-image : url("bouton/pause.png");
	background-color : #282928;
	border-color: #000000;
}

.pause:hover{
	background-image : url("bouton/play.png");
	background-color : #111111;
	color : #000000;
}

.reset{
	background-image : url("bouton/reset.png");
	background-color : #ffffff;
	border-color: #000000;
}

.reset:hover{
	background-image : url("bouton/reset.png");
	background-color : #dddddd;
	color : #000000;
}

.mod{
	background-image : url("bouton/mod.png");
	background-color : #282928;
	border-color: #000000;
}

.mod:hover{
	background-image : url("bouton/mod.png");
	background-color : #111111;
}

.timer_n{
	background-color : #000000;
	font : 120px radioland;
	color : #ffffff;
	border-color: #000000;
}

.timer_b{
	background-color : #ffffff;
	font : 120px radioland;
	color : #000000;
	border-color: #ffffff;
}

.mod_menu{
	margin-left : 2px;
	background-color : #282928;
	border-color: #000000;
	margin-bottom : 2px;
	margin-top : 2px;
	font : 12px FjallaOne-Regular;
	color : #ffffff;
}

.mod_menu:hover{
	background-color : #111111;
}

.mod_ligne{
	background-color : #282928;
	border-color: #000000;
}

.mod_button{
	margin-right : 2px;
	background-color : #282928;
	font : 15px  overpass;
	font-weight : bold;
	color : #ffffff;
}

.mod_button:hover{
	background-color : #111111;
}

.mod_titre{
	font : 24px CodaCaption;
	color : #ffffff;
	background-color : #282928;
	margin-bottom : 3px;
}

.mod_stitre{
	font : 15px CodaCaption;
	color : #ffffff;
	background-color : #282928;
	margin-bottom : 5px;
}

.mod_stitre2{
	font : 15px CodaCaption;
	color : #ffffff;
	background-color : #282928;
	margin-bottom : 5px;
	margin-top : 5px;
}

.mod_go{
	margin-right : 2px;
	margin-top : 5px;
	background-color : #282928;
	font : 15px radioland;
	color : #ffffff;
}

.mod_go:hover{
	background-color : #111111;
}

.mod_label{
	font : 16px radioland;
}
